.pdf-page {
	background: #EEDED9;
}

.pdf-page::before{
	content: '';
	display: block;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	width: 193px;
	height: 38px;
	background-image: url("data:image/svg+xml,%3Csvg width='191' height='38' viewBox='0 0 191 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.425003 38V0.239998H6.185V38H0.425003ZM8.105 38V0.239998H10.025V38H8.105ZM15.785 38V0.239998H17.705V38H15.785ZM19.625 38V0.239998H21.545V38H19.625ZM23.465 38V0.239998H29.225V38H23.465ZM40.775 38V0.239998H42.695V38H40.775ZM44.615 38V0.239998H50.375V38H44.615ZM56.135 38V0.239998H58.055V38H56.135ZM59.975 38V0.239998H61.895V38H59.975ZM63.815 38V0.239998H69.575V38H63.815ZM81.125 38V0.239998H86.885V38H81.125ZM88.805 38V0.239998H94.565V38H88.805ZM100.325 38V0.239998H102.245V38H100.325ZM104.165 38V0.239998H106.085V38H104.165ZM108.005 38V0.239998H109.925V38H108.005ZM121.475 38V0.239998H123.395V38H121.475ZM125.315 38V0.239998H127.235V38H125.315ZM132.995 38V0.239998H138.755V38H132.995ZM140.675 38V0.239998H142.595V38H140.675ZM144.515 38V0.239998H150.275V38H144.515ZM161.825 38V0.239998H167.585V38H161.825ZM169.505 38V0.239998H171.425V38H169.505ZM177.185 38V0.239998H182.945V38H177.185ZM184.865 38V0.239998H186.785V38H184.865ZM188.705 38V0.239998H190.625V38H188.705Z' fill='black'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: contain;
	margin: auto;
}

.pdf-page::after{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 193px;
	height: 39px;
	background-image: url("data:image/svg+xml,%3Csvg width='191' height='38' viewBox='0 0 191 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.425003 38V0.239998H6.185V38H0.425003ZM8.105 38V0.239998H10.025V38H8.105ZM15.785 38V0.239998H17.705V38H15.785ZM19.625 38V0.239998H21.545V38H19.625ZM23.465 38V0.239998H29.225V38H23.465ZM40.775 38V0.239998H42.695V38H40.775ZM44.615 38V0.239998H50.375V38H44.615ZM56.135 38V0.239998H58.055V38H56.135ZM59.975 38V0.239998H61.895V38H59.975ZM63.815 38V0.239998H69.575V38H63.815ZM81.125 38V0.239998H86.885V38H81.125ZM88.805 38V0.239998H94.565V38H88.805ZM100.325 38V0.239998H102.245V38H100.325ZM104.165 38V0.239998H106.085V38H104.165ZM108.005 38V0.239998H109.925V38H108.005ZM121.475 38V0.239998H123.395V38H121.475ZM125.315 38V0.239998H127.235V38H125.315ZM132.995 38V0.239998H138.755V38H132.995ZM140.675 38V0.239998H142.595V38H140.675ZM144.515 38V0.239998H150.275V38H144.515ZM161.825 38V0.239998H167.585V38H161.825ZM169.505 38V0.239998H171.425V38H169.505ZM177.185 38V0.239998H182.945V38H177.185ZM184.865 38V0.239998H186.785V38H184.865ZM188.705 38V0.239998H190.625V38H188.705Z' fill='black'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: contain;
	margin: auto;
}